@media(max-width: 1300px) {
	.product-slider__item {
		text-align: center;
	}

	.product-slider .slick-dots {
		bottom: -15px;
		text-align: center;
	}

	.product-slider .slick-dots button {
		width: 12px;
		height: 12px;
		font-size: 0;
		padding: 0;
		margin: 0;
		background-color: #C4C4C4;
		border: none;
		border-radius: 50%;
		outline: none;
	}

	.product-slider .slick-dots .slick-active button {
		background-color: #1C62CD;
	}

	.product__content {
		margin-bottom: 45px;
	}
}

@media(max-width: 1200px) {
	.header {
		margin-bottom: 30px;
	}

	.header__top-menu li {
		margin-right: 20px;
	}

	.section-slider__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-width: 280px;
		width: 100%;
	}

	.slider__inner {
		min-width: 280px;
		width: 100%;
		margin-bottom: 30px;
	}

	.action {
		min-width: 280px;
		width: 870px;
	}

	.categories__inner {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}

	.catalog__inner-list {
		justify-content: space-around;
	}
}

@media(max-width: 1168px) {

	.section-main {
		margin-bottom: 40px;
	}

	.product-page__card-inner {
		flex-direction: column;
	}

	.product-page__img-inner {
		max-width: 100%;
		margin-bottom: 30px;
		text-align: center;
	}

	.product-page__info {
		order: -1;
		height: auto;
	}

	.product-page__box {
		display: none;
	}

	.search-input__inner {
		margin-right: 40px;
	}

	.product-card__title,
	.product-card__addres {
		margin-left: 10px;
	}

	.product-card__title:first-child,
	.product-card__addres:first-child {
		margin-left: 0;
	}

	.product-card__title,
	.product-card__addres {
		max-width: 20%
	}

	.product-page__img-inner {
		margin-bottom: 0;
	}

	.product-page__link {
		margin-bottom: 30px;
	}

	.product-page__card-btn {
		display: block;
	}
}

@media(max-width: 968px) {

	.header__top-menu {
		display: none;
	}

	.header__bottom {
		display: none;
	}

	.mobile-menu__btn {
		display: block;
	}

	.mobile-menu {
		display: block;
	}

	.mobile-menu__top {
		display: block;
	}

	.action {
		min-width: 280px;
		width: 100%;
	}

	.footer__inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.product-card__title {
		padding-bottom: 20px;
	}

	.product-page__label-check {
		display: block;
		margin-top: 25px;
	}

	.product-page__label-check:last-child {
		margin-left: 0;
	}

	.product-card__title:nth-child(1),
	.product-card__title:nth-child(2),
	.product-card__addres:nth-child(1),
	.product-card__addres:nth-child(2) {
		max-width: 25%;
	}

	.product-card__title:nth-child(n+3),
	.product-card__addres:nth-child(n+3) {
		width: 15%;
	}
}

@media(max-width: 868px) {

	.tabs__content-wrap {
		margin-left: 0;
	}

	.search-input__inner {
		margin-right: 0;
	}

	.product-page__search-input {
		max-width: 200px;
		width: 100%;
	}

	.product-page__data {
		position: relative;
	}

	.product-page__tabs-wrapper {
		position: absolute;
		overflow-x: scroll;
		overflow-y: hidden;
		right: 0;
	}

	.product-page__tabs-box {
		width: 900px;
	}

	.tabs__container {
		padding-top: 110px;
	}

	.product-card__item-title {
		display: none;
	}

	.product-card__item {
		flex-direction: column;
	}

	.product-card__btn {
		margin-left: 0;
		margin-right: auto;
	}

	.product-card__addres {
		margin-left: 0;
		min-width: 290px;
		margin-bottom: 15px;
	}

	.product-card__item:nth-child(n+3) {
		display: none;
	}
}

@media(max-width: 820px) {
	.mobile-overflow {
		width: 820px;
		padding-bottom: 15px;
	}

	.search__links {
		overflow-x: scroll;
	}

	.search__form-btn {
		width: 40px;
		height: 40px;
		padding: 0;
		font-size: 0px;
		background-color: transparent;
		color: transparent;
		cursor: pointer;
		outline: none;
		background-image: url('../icons/search-icon-dark.svg');
		background-repeat: no-repeat;
		background-position: center center;
		position: absolute;
		right: 20px;
	}

	.catalog__inner-list {
		width: 271px;
	}
}

@media(max-width: 770px) {

	.section-slider .container {
		padding: 0;
	}

	.section-slider__inner {
		min-width: 280px;
		width: 100%;
		min-height: 200px;
		height: 100%;
	}

	.slider__inner {
		min-width: 280px;
		width: 100%;
		min-height: 200px;
		height: 100%;
		margin-bottom: 30px;
	}

	.section-slider__img {
		min-width: 280px;
		width: 100%;
		min-height: 200px;
		height: 100%;
	}

	.action {
		min-width: 280px;
		width: 94%;
	}

	.mobile-overflow__slider {
		width: 770px;
		padding-bottom: 15px;
	}

	.products-tabs__items {
		overflow-x: scroll;
	}

	.catalog__filter-button {
		display: none;
	}
}

@media(max-width: 678px) {
	.footer__inner {
		display: flex;
		justify-content: space-around;
	}

	.footer-menu {
		order: -1;
		margin-bottom: 40px;
	}

	.footer-social {
		padding-top: 0;
	}

	.footer-subs {
		margin-bottom: 40px;
	}

	.catalog__inner-aside {
		display: block;
	}
}

@media(max-width: 640px) {

	.catalog__filter {
		flex-direction: column;
		align-items: start;
		margin-bottom: 30px;
	}

	.catalog__filter-items {
		order: 1;
	}

	.catalog__filter-btn {
		margin-bottom: 30px;
	}

	.filter-btn {
		display: block;
		margin-bottom: 30px;
		padding: 10px 15px;
		font-size: 17px;
		font-weight: 500;
		color: #fff;
		text-transform: uppercase;
		background-color: #1C62CD;
		text-align: center;
		cursor: pointer;
	}

	.catalog__inner {
		flex-direction: column;
	}

	.catalog__inner-aside {
		max-width: 100%;
		display: none;
	}

	.catalog__inner-list {
		width: 100%;
	}
}


@media(max-width: 560px) {
	.header__top-adress {
		display: none;
	}

	.catalog__filter-scroll {
		width: 430px;
		padding-bottom: 5px;
	}
}

@media(max-width: 450px) {

	.catalog__filter {
		display: block;
	}

	.catalog__filter-items {
		margin-bottom: 20px;
	}

	.mobile-menu__top,
	.filter__items-scroll {
		overflow-x: scroll;
		padding-bottom: 10px;
	}

	.mobile-menu__top-items {
		width: 500px;
	}

	.category__card {
		padding: 10px;
	}

	.banner-home img {
		display: none;
	}

	.banner-home {
		max-width: 400px;
		width: 100%;
		height: 90px;
		background: url('../img/banner-mobile.jpg');
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
	}

	.footer-bottom__links {
		display: flex;
		flex-direction: column;
	}

	.footer-bottom__link+.footer-bottom__link {
		margin: 0;
		margin-bottom: 20px;
	}

	.footer-bottom__link {
		margin-bottom: 20px;
	}
}

@media(max-width: 370px) {
	.footer__inner {
		flex-direction: column;
	}

	.footer-menu {
		margin: 0;
		order: 0;
		width: 100%;
		border-bottom: 1px solid rgba(180, 180, 180, 0.3);
	}

	.footer-subs {
		width: 100%;
	}

	.footer-subs__title {
		width: 100%;
		padding-right: 20px;
		padding-left: 20px;
		text-align: center;
	}

	.footer-subs__input {
		width: 100%;
	}

	.footer__title {
		position: relative;
	}

	.footer__title::after {
		content: '';
		position: absolute;
		width: 12px;
		height: 8px;
		background-image: url(../icons/arrow-down.svg);
		bottom: 20px;
		right: 5px;
		transform: rotate(0deg);
	}

	.footer__title--active::after {
		transform: rotate(180deg);
	}

	.footer__title-info {
		padding-top: 16px;
		padding-bottom: 16px;
		border-top: 1px solid rgba(180, 180, 180, 0.3);
		margin: 0;
		color: #7F7F7F;
	}

	.footer__title-shop {
		padding-top: 16px;
		padding-bottom: 16px;
		margin: 0;
		color: #7F7F7F;
	}

	.footer-menu__items {
		display: none;
		margin-bottom: 15px;
	}

	.footer-menu__link {
		color: #7F7F7F;
	}

	.footer-social__wrap {
		margin-top: 30px;
		width: 100%;
		text-align: center;
	}

	.footer__title--active {
		pointer-events: auto;
	}
}
