html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'SFProDisplay-Regular', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

.section-main {
  margin-bottom: 80px;
}

.section__title {
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #2F3035;
  margin-bottom: 25px;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}


/* start header */
/* start header__top */

.header {
  margin-bottom: 80px;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 21px;
  text-align: center;
}

.header__top-menu {
  display: flex;
}

.header__top-menu li {
  margin-right: 50px;
}

.header__top-menu li:last-child {
  margin-right: 0;
}

.header__top-menu a {
  font-weight: 700;
  color: #2F3035;
}

.header__logo {
  width: 80px;
  height: 76px;
}

.header__top-adress {
  display: flex;
  align-items: center;
}

.header__top-adress span {
  font-weight: 700;
  color: #2F3035;
}

.header__top-location {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.header__top-links {
  position: relative;
}

.header__top-links a {
  margin-right: 10px;
}

.header__top-links a:last-child {
  margin-right: 0;
}

.icon-heart {
  width: 24px;
  height: 22px;
}

.icon-user {
  width: 24px;
  height: 24px;
}

.icon-cart {
  width: 30px;
  height: 24px;
}

.header__top-links span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: #1C62CD;
  font-weight: 500;
  font-size: 10px;
  text-align: center;
  color: #FFFFFF;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: -4px;
}

/* end header__top */

/* start header__bottom */

.header__bottom {
  padding: 15px 0 13px;
  background-color: #F0F0F4;
}

.header__bottom-menu {
  display: flex;
  justify-content: space-between;
  padding: 0 20px 0;
  align-items: center;
  background-color: #F0F0F4;
}

.header__bottom-menu li {
  position: relative;
  height: 100%;
}

.header__bottom-menu a {
  display: block;
  font-weight: 400;
  color: #2F3035;
}

.header__bottom-menu a::after {
  content: '';
  position: absolute;
  top: 30px;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #1C62CD;
  transform: translateY(5px) scale(0);
}

.header__bottom-menu a:hover {
  color: #1C62CD;
  transition: 0.3s;
}

.header__bottom-menu a:hover::after {
  transform: translateY(5px) scale(1);
  transition: all 0.3s;
}

/* end header__bottom */

/* end header */

/* start section-slider */

.section-slider__inner {
  min-width: 870px;
  width: 100%;
  min-height: 400px;
  display: flex;
  justify-content: space-between;
}

.slider__inner {
  max-width: 870px;
  width: 100%;
  min-height: 400px;
  position: relative;
  text-align: center;
}

.section-slider__link {
  text-decoration: none;
  outline: none;
}

.section-slider__img {
  object-fit: cover;
}

.section-slider__btn,
.product-slider__btn {
  background-color: transparent;
  border: none;
  outline: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  cursor: pointer;
}

.section-slider__btnprev {
  left: 20px;
}

.section-slider__btnnext {
  right: 20px;
}

.slick-dots {
  display: inline-block;
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
}

ul.slick-dots {
  margin: 0;
  padding: 0;
}

.slick-dots li {
  display: inline-block;
  margin: 0;
  padding: 0 5px;
}

.slick-dots button {
  width: 12px;
  height: 12px;
  font-size: 0;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  outline: none;
}

li.slick-active button {
  background-color: #fff;
}

.action {
  width: 265px;
  height: 400px;
  border: 1px solid #CDCDCD;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all .5s;
}

.action:hover {
  box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
}

.action__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.action__header-info {
  height: 30px;
  background-color: #1C62CD;
  font-size: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 8px 22px;
  color: #FFFFFF;
}

.action__header-price {
  display: flex;
  flex-direction: column;
}

.new-price {
  min-width: 93px;
  height: 33px;
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  font-size: 27px;
  color: #1C62CD;
  padding-right: 25px;
  margin-right: 8px;
  margin-top: 3px;
  position: relative;
}

.new-price::after {
  content: '';
  position: absolute;
  background-image: url('../img/slider-1/icon-rub.svg');
  top: 8px;
  right: 0;
  width: 15px;
  height: 18px;
}

.old-price__inner {
  text-align: right;
  position: relative;
}

.old-price {
  width: 100%;
  height: 17px;
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #C4C4C4;
  margin-right: 8px;
  padding-right: 9px;
  background-image: url('../img/slider-1/old-price-line.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.old-price::after {
  content: '';
  position: absolute;
  background-image: url('../img/slider-1/icon-rub-min.svg');
  top: 9px;
  right: 5px;
  width: 8px;
  height: 9px;
}

.action__img-box {
  width: 160px;
  height: 180px;
}

.action__img {
  object-fit: contain;
}

.action__img-text {
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #2F3035;
  max-width: 240px;
}

.action__footer {
  width: 100%;
  height: 99px;
  background: #F0F0F4;
  text-align: center;
  padding: 25px 20px;
}

.footer__action-text {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #2F3035;
  margin-bottom: 6px;
}

.footer__action-info {
  font-family: Barlow;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #1C62CD;
}

/* end section-slider */

/* start section search */

.search__links {
  margin-bottom: 25px;
}

.search__link {
  padding: 12px 26px;
  font-weight: 400;
  color: #2F3035;
  transition: all .2s;
  margin-right: 35px;
}

.search__link:last-child {
  margin-right: 0;
}

.search__link:hover {
  background: #F0F0F4;
  border-radius: 5px;
}

.search__link.tab--active {
  background: #F0F0F4;
  border-radius: 5px;
  font-weight: 700;
}

.tabs__content {
  display: none;
}

.tabs__content.tabs__content--active {
  display: block;
}

.search__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search__form-input {
  max-width: 1170px;
  width: 100%;
  height: 50px;
  background-color: #F0F0F4;
  border-radius: 3px;
  border: none;
  padding-top: 15px;
  padding-right: 50px;
  padding-bottom: 15px;
  padding-left: 20px;
  outline: none;
  margin-right: -10px;
}

.search__form-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  color: #656464;
}

.search__form-btn {
  padding: 17px 40px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #1C62CD;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  outline: none;
}


.search__form-input::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.6s ease;
}

.search__form-input::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.6s ease;
}

.search__form-input:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.6s ease;
}

.search__form-input:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.6s ease;
}

.search__form-input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.6s ease;
}

.search__form-input:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.6s ease;
}

.search__form-input:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.6s ease;
}

.search__form-input:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.6s ease;
}

/* end section search */

/* start section categories */

.categories {
  margin-bottom: 50px;
}

.categories__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.category__card {
  max-width: 370px;
  width: 100%;
  height: 129px;
  background: #FFFFFF;
  border: 1px solid #CDCDCD;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 10px;
  margin-bottom: 30px;
  transition: all .5s;
}

.category__card:hover .category__card-text {
  color: #1C62CD;
}

.category__card:hover .categoriy__card-title {
  color: #1C62CD;
}

.category__card:hover {
  box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
}

.category__card-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.categoriy__card-title {
  width: 170px;
  height: 28px;
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  font-size: 23px;
  text-align: left;
  color: #2f3034;
  transition: all .5s;
}

.category__card-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #C4C4C4;
  transition: all .5s;
}

.category__card-img {
  text-align: center;
  width: 50%;
}

.category__card-img img {
  max-width: 100%;
  max-height: 100%;
}


/* end section categories */

/* start section products */

.tabs__wrapper {
  padding-left: 5px;
  padding-right: 5px;
}

.products-tabs__items {
  margin-bottom: 30px;
}

.products-tabs__item {
  font-weight: 500;
  font-size: 15px;
  color: #2F3035;
  padding-bottom: 10px;
  border-bottom: 3px solid #fff;
  transition: all .5s;
}

.products-tabs__item+.products-tabs__item {
  margin-left: 50px;
}

.products-tabs__item:hover {
  border-bottom: 3px solid #1C62CD;
}

.products-tabs__item.tab--active {
  border-bottom: 3px solid #1C62CD;
}


.tabs-container__item-wrapper {
  width: 271px;
  height: 403px;
  position: relative;
  transition: all .3s;
}

.tabs-container__item-wrapper.tabs-container__item-wrapper--line {
  width: 100%;
}

.product-slider {
  margin-bottom: 30px;
}

.product-slider__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px 7px;
}


.product-slider__item-link {
  width: auto;
  height: 403px;
  border: 1px solid #CDCDCD;
  border-radius: 3px;
  padding: 52px 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all .5s;
}



.product-slider__hover-text {
  padding: 18px 20px;
  background-color: rgba(255, 255, 255, .9);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  font-weight: 400;
  color: #2F3035;
  position: absolute;
  top: 30%;
  opacity: 0;
  transition: all .5s;
}

.product-slider__item-link:hover .product-slider__hover-text {
  opacity: 1;
  color: #2F3035;
}

.product-slider__item-link:hover {
  box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
}

.product-slider__item-link:hover .tabs-container__title,
.product-slider__item-link:hover .tabs-container__price {
  color: #1C62CD;
}

.tabs-container__button-favorite {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 24px;
  height: 22px;
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  outline: none;
}

.tabs-container__button-favorite::before {
  content: '';
  position: absolute;
  background-image: url('../img/products/favorite.svg');
  width: 24px;
  height: 22px;
  top: 0;
  right: 0;
  z-index: 9;
}

.button-favorite--active::before {
  background-image: url('../img/products/favorite-active.svg');
}


.tabs-container__button-cart {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 60px;
  height: 40px;
  background-color: #1C62CD;
  border-radius: 10px 0px 0px 0px;
  border: none;
  outline: none;
  cursor: pointer;
}

.tabs-container__button-cart::before {
  content: '';
  position: absolute;
  background-image: url('../icons/cart-white.svg');
  width: 30px;
  height: 23px;
  top: 8px;
  right: 13px;
  z-index: 10;
}

.tabs-container__img {
  margin-bottom: 15px;
  width: 200px;
  min-height: 200px;
}

.tabs-container__title {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 17px;
  text-align: center;
  color: #2F3035;
}

.tabs-container__price {
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #2F3035;
}

.product-slider__item-link--sale::before {
  content: 'SALE';
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1C62CD;
  padding: 8px 15px;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.tabs-container__item-wrapper.tab-container__not-aviable .tabs-container__price {
  display: none;
}

.tabs-container__notify-text {
  display: none;
  font-weight: 700;
  font-size: 18px;
  color: #2F3035;
  margin-bottom: 50px;
}

.tabs-container__notify-link {
  content: '';
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #1C62CD;
  bottom: 20px;

}

.tabs-container__notify-link span {
  border-bottom: 1px solid #1C62CD;
}

.tabs-container__item-wrapper.tab-container__not-aviable .product-slider__item-link--sale::before {
  display: none;
}

.tabs-container__item-wrapper.tab-container__not-aviable .tabs-container__notify-link {
  display: block;
}

.tabs-container__item-wrapper.tab-container__not-aviable .tabs-container__button-cart {
  display: none;
}

.tabs-container__item-wrapper.tab-container__not-aviable .tabs-container__notify-text {
  display: block;
}

.product-slider__btnprev {
  left: -50px;
}

.product-slider__btnnext {
  right: -50px;
}

.products-more {
  text-align: center;
}

.products-more__link {
  padding: 15px 40px;
  background: #F0F0F4;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #2F3035;
}

/* end section products

/* start banner  */

.banner-home__link img {
  max-width: 1170px;
  width: 100%;
  height: auto;
}

/* end banner  */



/* start footer */

.footer {
  background-color: #F0F0F4;
  padding-bottom: 22px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding-top: 42px;
  padding-bottom: 46px;
}

.footer-subs {
  width: 260px;
  height: auto;
}

.footer__title {
  font-weight: 700;
  font-size: 14px;
  color: #2F3035;
  margin-bottom: 5px;
}

.footer-subs__title {
  margin-bottom: 34px;
}

.footer-subs__form {
  display: flex;
}

.footer-subs__input {
  width: 201px;
  height: 33px;
  background: #FFFFFF;
  border: none;
  padding: 8px 20px 8px 12px;
  outline: none;
  font-weight: 300;
  font-size: 14px;
}

.footer-subs__input::placeholder {
  font-weight: 300;
  font-size: 14px;
  color: #C4C4C4;
}

.footer-subs__button {
  padding: 10px 16px;
  font-weight: 600;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #1C62CD;
  border: none;
  outline: none;
  cursor: pointer;
}

.footer-menu {
  width: 150px;
  height: auto;
}

.footer-menu__link {
  font-weight: 500;
  font-size: 14px;
  color: #2F3035;
}

.footer-social {
  padding-top: 40px;
  width: 260px;
  height: auto;
}

.footer-social__link+.footer-social__link {
  margin-left: 30px;
}

.footer-bottom__links {
  display: flex;
  justify-content: center;
}

.footer-bottom__link {
  font-weight: 300;
  font-size: 12px;
  color: #48494D;
}

.footer-bottom__link+.footer-bottom__link {
  margin-left: 80px;
}


.footer-subs__input::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.footer-subs__input::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.footer-subs__input:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.footer-subs__input:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.footer-subs__input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.footer-subs__input:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.footer-subs__input:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.footer-subs__input:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* end footer */




/* start page catalog */

/* start breadcrumbs */

.header-catalog {
  margin-bottom: 40px;
}

.breadcrumbs {
  margin-bottom: 40px;
}

.breadcrumbs-item {
  display: inline-block;
  padding-right: 16px;
  margin-right: 5px;
  position: relative;
  font-weight: 400;
  font-size: 15px;
}

.breadcrumbs-item::after {
  content: '';
  position: absolute;
  background-image: url('../icons/arrow-right.svg');
  width: 6px;
  height: 11px;
  right: 0px;
  bottom: 3px;
}

.breadcrumbs-link,
span.breadcrumbs-link {
  color: #C4C4C4;
}

.breadcrumbs-item:last-child::after {
  display: none;
}

/* end breadcrumbs */


/* start section catalog */

.catalog {
  margin-bottom: 100px;
}

.catalog__title {
  font-weight: 700;
  font-size: 30px;
  color: #2F3035;
  margin-bottom: 26px;
}

/* start catalog__filter */

.catalog__filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 47px;
}

.catalog__filter-items button {
  background: #F0F0F4;
  border-radius: 3px;
  font-weight: 400;
  font-size: 14px;
  color: #2F3035;
  padding: 5px 20px;
  border: none;
  cursor: pointer;
}

.catalog__filter-items button+button {
  margin-left: 10px;
}

.filter-style__select {
  border: 1px solid #D7D9DF;
}

.catalog__filter-btn {
  display: flex;
  align-items: center;
}

.catalog__filter-btn button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.catalog__filter-btngrid {
  width: 23px;
  height: 21px;
  border: none;
  background-image: url('../icons/greed-btn.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
  margin-right: 10px;
  margin-left: 34px;
  outline: none;
}

.catalog__filter-btnline {
  width: 25px;
  height: 19px;
  border: none;
  background-image: url('../icons/line-btn.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
  outline: none;
}

.catalog__filter-button {
  opacity: 0.3;
}

.catalog__filter-button--active {
  opacity: 1;
}

/* end catalog__filter */

.catalog__inner {
  display: flex;
  justify-content: space-between;
}

/* start catalog-aside */

.catalog__inner-aside {
  max-width: 291px;
  width: 100%;
  height: auto;
  margin-right: 15px;
}


.aside-filter__tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.aside-filter__tab {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #C4C4C4;
  width: 50%;
}

.aside-filter__tab.tab--active {
  font-weight: 700;
  color: #2F3035;
}

.aside-filter__tab.tab--active span {
  padding-bottom: 7px;
  border-bottom: 2px solid #1C62CD;
}

.aside-filter__item-drop,
.aside-filter__item {
  margin-bottom: 40px;
}

.aside-filter__title {
  font-weight: 600;
  font-size: 16px;
  color: #2F3035;
  padding-left: 26px;
}

.filter__item-drop {
  position: relative;
  cursor: pointer;
}

.filter__item-drop::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 8px;
  background-image: url('../icons/arrow-down.svg');
  bottom: 5px;
  left: 0;
  transform: rotate(0deg);
}

.filter__item-drop--active::before {
  transform: rotate(180deg);
}

.aside-filter__content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px;
}

.aside-filter__content-box {
  width: 50%;
  margin-bottom: 22px;
}

.aside-filter__content-label {
  font-weight: 500;
  font-size: 14px;
  color: #2F3035;
}


.jq-checkbox,
.jq-radio {
  width: 14px;
  height: 14px;
  background: #fff;
  border: 1px solid #C4C4C4;
  border-radius: 2px;
  box-shadow: none;
  vertical-align: -2px;
  margin: 0 8px 0 0;
}

.jq-checkbox.focused,
.jq-radio.focused {
  border: 1px solid #C4C4C4;
}

.jq-checkbox.checked,
.jq-radio.checked {
  background: #1C62CD;
  border: none;
}

.jq-checkbox.checked .jq-checkbox__div {
  width: 8px;
  height: 4px;
  margin: 4px 0 0 3px;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  -webkit-transform: rotate(-50deg);
  transform: rotate(-50deg);
}

.jq-radio.checked .jq-radio__div {
  width: 0;
  height: 0;
  margin: 0;
  border-radius: none;
  background: transparent;
  box-shadow: none;
}


.aside-filter__content.aside-filter__content-radio {
  flex-wrap: nowrap;
}

.aside-filter__content.aside-filter__content-radio .aside-filter__content-box {
  width: auto;
  margin-right: 18px;
}

.aside-filter__content.aside-filter__content-radio .aside-filter__content-box:last-child {
  margin-right: 0;
}


.irs--flat.irs-with-grid {
  width: 100%;
  height: 60px;
}

.irs--flat {
  width: 100%;
  margin-top: -15px;
}

.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {
  display: none;
}

.irs--flat .irs-min,
.irs--flat .irs-max {
  top: 60px;
  padding: 0;
  font-family: 'Barlow', sans-serif;
  color: #2F3035;
  font-size: 14px;
  line-height: 0;
  font-weight: 400;
  text-shadow: none;
  text-decoration-line: underline;
  background-color: transparent;
  border-radius: 0;
  visibility: visible !important;
  padding-left: 25px;
}

.irs-min::before,
.irs-max::before {
  position: absolute;
  left: 0;
  font-weight: 400;
  font-size: 14px;
  color: #C4C4C4;
  text-decoration: none;
}

.irs-min::before {
  content: 'от';
}

.irs-max::before {
  content: 'до';
}

.irs--flat .irs-line {
  top: 25px;
  height: 1px;
  background-color: #E0E0E0;
  border-radius: 0;
}

.irs--flat .irs-bar {
  top: 25px;
  height: 3px;
  background-color: #1C62CD;
}

.irs--flat .irs-handle,
.irs--flat .irs-handle i {
  top: 22px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #1C62CD;
}

.irs--flat .irs-handle>i:first-child {
  width: 0;
  height: 0;
}

/* end filter price */

/* start filter power */

.filter__item-list:first-child {
  margin-top: 70px;
}

.filter__item-list {
  margin: 30px 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 2px solid #C4C4C4;
}

.filter__item-listtitle {
  font-weight: 600;
  font-size: 16px;
  color: #2F3035;
  padding-left: 26px;
}

.jq-selectbox__select {
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #48494D;
  height: 32px;
  padding: 0 35px 0 10px;
  border: none;
  border-bottom-color: none;
  border-radius: 0;
  background: #fff;
  box-shadow: none;
  text-shadow: 1px 1px #fff;
}

.jq-selectbox li:hover {
  background: rgba(107, 126, 172, 0.05);
  color: rgba(0, 0, 0, 0.6);
}

.jq-selectbox__trigger {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-left: none;
}

.jq-selectbox__dropdown {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 1px solid #CCC;
  border-radius: 2px;
  background: #FFF;
  box-shadow: none;
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  outline: none;
}

.jq-selectbox__trigger-arrow {
  background-image: url('../icons/arrow-down.svg');
  width: 12px;
  height: 8px;
  border: none;
  z-index: 10;
  transform: rotate(0deg);
}

.jq-selectbox__select:active {
  background: #fff;
  box-shadow: none;
}

.jq-selectbox__select:hover {
  background: transparent;
}

.jq-selectbox.focused .jq-selectbox__select {
  border: none;
}

.jq-selectbox li {
  min-height: 18px;
  padding: 5px 10px 6px;
  color: rgba(0, 0, 0, 0.6);
}

li.sel {
  background: transparent;
}

.jq-selectbox li.selected {
  background: rgba(107, 126, 172, 0.05);
  color: rgba(0, 0, 0, 0.6);
}

/* end filter power */


/* start filter brend */

.aside-filter__link-wrap {
  width: 100%;
}

.aside-filter__content-link {
  font-weight: 500;
  font-size: 14px;
  color: #1C62CD;
  padding-bottom: 5px;
  border-bottom: 2px solid #1C62CD;
}

/* end filter brend */


/* start filter model */

.aside-filter__content-input {
  margin-bottom: 20px;
  padding: 8px 20px;
  width: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  border: 1px solid #E0E0E0;
  outline: none;
}

.aside-filter__conternt-input::placeholder {
  color: #BDBEC2;
}

.aside-filter__content-input::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.aside-filter__content-input::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.aside-filter__content-input:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.aside-filter__content-input:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.aside-filter__content-input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.aside-filter__content-input:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.aside-filter__content-input:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.aside-filter__content-input:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* end filter model */

/* start filter action */

.aside-filter__item-drop.btn-checked {
  margin-bottom: 18px;
}

.btn-checked .aside-filter__content {
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}



.btn-checked .aside-filter__content-box {
  width: 63px;
  height: 25px;
  background: #F0F0F4;
  position: relative;
}

.btn-checked .jq-checkbox.checked.checked {
  background: #1C62CD;
}

.btn-checked .jq-checkbox.checked.checked~.btn-checked__text {
  color: #fff;
}

.btn-checked .aside-filter__content-label {
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.07em;
}

.btn-checked__text {
  position: absolute;
  top: 27%;
  left: 50%;
  transform: translateX(-50%);
  color: #C4C4C4;
}

.btn-checked .jq-checkbox.filter-style {
  width: 63px;
  height: 25px;
  background-color: transparent;
  position: absolute;
  top: 0;
  border: none;
}

.btn-checked .jq-checkbox.checked .jq-checkbox__div {
  display: none;
}


/* end filter action */

/* start filter country */
/* end filter country */

.aside-filter__button-wrap {
  text-align: center;
  margin-bottom: 20px;
}

.aside-filter__button {
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #BDBEC2;
  border: none;
  padding: 17px 85px;
  outline: none;
  background: #F0F0F4;
  cursor: pointer;
}

.aside-filter__button--active {
  background-color: #1C62CD;
  color: #fff;
}

/* start extra options box */

.filter__item-extra {
  font-weight: 400;
  font-size: 13px;
  color: #2F3035;
  position: relative;
  padding-right: 28px;
  text-align: center;
  cursor: pointer;
}

.filter__item-extra::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 8px;
  background-image: url('../icons/arrow-down.svg');
  top: 3px;
  right: 36px;
  transform: rotate(180deg);
}

.filter__item-extra--active::before {
  transform: rotate(0deg);
}

.aside-filter__content-box div {
  font-size: 14px;
}

.aside-filter__button-inner {
  text-align: center;
  margin-top: 7px;
}

.aside-filter__button-reset {
  font-weight: 400;
  font-size: 13px;
  color: #C4C4C4;
  padding-bottom: 3px;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 2px solid #C4C4C4;
  cursor: pointer;

}

/* end extra options box */

/* end catalog-aside */

/* start catalog-list */

.catalog__inner-list {
  width: 870px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.tabs-container__item-wrapper {
  margin-bottom: 30px;
}

.pagination {
  width: 100%;
  margin-top: 40px;
  text-align: center;
}

.pagination-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-list__item {
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 2px solid transparent;
}

.pagination-list__item.active {
  width: 40px;
  height: 40px;
  border: 2px solid #1C62CD;
  font-family: 'Barlow'sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.pagination-list__item.active .pagination-list__link {
  color: #1C62CD;
}

.pagination-list__item+.pagination-list__item {
  margin-left: 10px;
}

.pagination-list__link {
  color: #C4C4C4;
}

/* end catalog-list */

/* end section catalog */

/* end page catalog */

/* start product-page */

/* start section product-page__card */


.product-page__card-inner {
  display: flex;
  justify-content: space-between;
}

.product-page__img-inner {
  max-width: 500px;
  width: 100%;
  height: 579px;
  padding-top: 54px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}


.product-page__img-inner.product-page__img-inner--sale::before {
  content: 'SALE';
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1C62CD;
  padding: 13px 26px;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
}

.product-page__info {
  max-width: 570px;
  width: 100%;
  height: 579px;
}

.product-page__img {
  max-width: 100%;
  width: 100%;
  height: 579px;
  margin-bottom: 17px;
}

.product-page__old-price {
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 17px;
  color: #2F3035;
  opacity: 0.6;
  background-image: url('../img/product-page/old-line-2.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.product-page__new-price {
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #2F3035;
  margin-bottom: 17px;
}

.product-page__link {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #1C62CD;
}

.product-page__title {
  font-weight: 700;
  font-size: 30px;
  color: #2F3035;
  margin-bottom: 10px;
}

.product-page__code {
  font-weight: 400;
  font-size: 15px;
  color: #2F3035;
  opacity: 0.6;
  margin-bottom: 20px;
}

.product-page__links {
  margin-bottom: 45px;
}

.product-page__favorite-link {
  width: 24px;
  height: 22px;
  margin-right: 25px;
}

.product-page__compare {
  width: 20px;
  height: 27px;
  margin-right: 25px;
}


.product-page__tabs-item {
  margin-right: 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: rgb(47 48 53 / 60%);
  padding-right: 15px;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
  margin-bottom: 20px;
}

.product-page__tabs-item:last-child {
  margin-right: 0;
}

.tab.product-page__tabs-item.tab--active {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2F3035;
  border-bottom: 2px solid #1C62CD;
}

.tabs__content-item {
  max-width: 445px;
  display: flex;
  font-weight: 400;
  font-size: 20px;
  color: #2F3035;
  border-bottom: 1px solid rgb(47 48 53 / 10%);
  margin-bottom: 17px;
}

.tabs__content-left {
  width: 281px;
  margin-right: 30px;
}

.tabs__content-right {
  width: 134px;
}

.product-page__card-link {
  border-bottom: 1px solid #1C62CD;
  margin-bottom: 45px;
  display: inline-block;
}

.tabs__content-more {
  display: block;
  font-weight: 300;
  font-size: 14px;
  padding-bottom: 3px;
  color: #1C62CD;
}

.product-page__button {
  background-color: #1C62CD;
  border-radius: 3px;
  color: #FFFFFF;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
}

.product-page__card-button {
  display: block;
  padding: 16px 53px;
}

/* end section product-page__card */

/* start section product-page__data */


.product-page__tabs-wrapper {
  max-width: 100%;
  height: 70px;
  background: #F0F0F4;
  display: flex;
  justify-content: space-between;
  padding: 22px 40px 20px;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 50px;
}

.product-page__tabs-link {
  color: rgb(47 48 53 / 60%);
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
  transition: all .5s;
}

.product-page__tabs-link.tab--active,
.product-page__tabs-link:hover {
  color: #2F3035;
  border-bottom: 2px solid #1C62CD;
}

.tabs__content-wrap {
  margin-left: 36px;
}

.product-page__info-search {
  margin-bottom: 50px;
}

.search-input__inner {
  display: inline-block;
  position: relative;
  margin-right: 155px;
}

.product-page__label-search,
.product-page__label-check {
  font-weight: 400;
  font-size: 17px;
  color: rgb(47 48 53 / 70%);
}

.product-page__label-search input {
  margin-left: 17px;
}

.product-page__search-input {
  width: 313px;
  height: 30px;
  padding: 9px 40px 9px 17px;
  background: #F0F0F4;
  border-radius: 3px;
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 15px;
  color: #2F3035;
}

.product-page__search-input::placeholder {
  color: #C4C4C4;
}

.product-page__info-button {
  position: absolute;
  right: 4px;
  top: 0;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  background-color: transparent;
  background-image: url('../icons/search-icon.svg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
  border: none;
  outline: none;
}


.product-page__search-input::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.product-page__search-input::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.product-page__search-input:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.product-page__search-input:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.product-page__search-input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.product-page__search-input:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.product-page__search-input:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.product-page__search-input:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.product-page__input-check {
  margin-right: 15px;
  width: 14px;
  height: 14px;
  border: 1px solid #dadada;
  border-radius: 1px;
}

.product-page__label-check:last-child {
  margin-left: 54px;
}


.product-card__item {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid rgba(47, 48, 53, .1);
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.product-card__item:first-child {
  border: none;
}

.product-card__title,
.product-card__addres {
  display: block;
  width: 20%;
}

.product-card__title:first-child,
.product-card__addres:first-child {
  width: 290px;
}

.product-card__title:last-child,
.product-card__addres:last-child{
  width: 5%;
  margin-left: auto;
}

.product-card__title {
  font-weight: 500;
  font-size: 20px;
  color: #2F3035;
  padding-bottom: 40px;
}

.product-card__addres {
  font-weight: 400;
  font-size: 16px;
  color: rgba(47, 48, 53, .7);
}

.product-card__addres-line {
  display: flex;
  margin-bottom: 9px;
}

.product-card__adress-day {
  width: 48px;
  margin-right: 20px;
}

.product-card__btn {
  margin-left: auto;
}

.product-card__item-button {
  padding: 10px 40px;
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #1C62CD;
  border: none;
  outline: none;
  cursor: pointer;
}

/* end section product-page__data */

/* end product-page */
